:root {
  --accent1: rgb(239, 214, 206);
  --accent2: rgb(162, 103, 105);
  --accent3: rgb(115, 44, 44);
  --dark: rgb(50, 2, 22);
  --grey: rgb(35, 32, 32);
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  color: black;
  background-color: white;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 8rem;
}

/* ---- Heading Attributes ---- */

h1 {
  font-size: 300%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 185%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 125%;
}

/* ------ Pages ------ */

.page {
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 10px;
  min-height: 60vh;
  margin-top: -2px;
}

.profileImg {
  max-width: 15%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-div {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--accent1);
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}

form input {
  margin: 10px;
}

form textarea {
  margin: 10px;
}

form button {
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  background-color: var(--accent2);
  max-width: 25%;
  margin: 10px;
}

form button:hover {
  background-color: var(--dark);
  color: white;
  box-shadow: 2px 2px 5px black;
}

#resumeLink {
  color: white;
}

#resumeLink:hover {
  color: var(--accent2);
}

/* ------ Responsive ------ */

@media screen and (max-width: 1250px) {
  .page {
    padding: 2%;
  }

  form {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .profileImg {
    max-width: 25%;
  }

  #imageSpan {
    display: flex;
    justify-content: center;
  }

  .page {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 250%;
  }

  h2 {
    font-size: 175%;
  }

  h3 {
    font-size: 160%;
  }

  h4 {
    font-size: 140%;
  }

  h5 {
    font-size: 115%;
  }

  form {
    width: 75%;
  }

  form button {
    max-width: 30%;
  }
}
