:root {
  --accent1: rgb(239, 214, 206);
  --accent2: rgb(162, 103, 105);
  --accent3: rgb(115, 44, 44);
  --dark: rgb(50, 2, 22);
  --grey: rgb(35, 32, 32);
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 185%;
}

h4 {
  font-size: 150%;
  margin: 5px;
}

footer {
  text-align: center;
  background-color: var(--grey);
  color: var(--accent1);
  padding: 2%;
  border-radius: 20px;
  margin-top: 10px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  padding-bottom: 30px;
}

footer ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc((5vw) / 2);
  padding-right: calc((5vw) / 2);
}

a {
  color: var(--accent1);
  text-decoration: none;
}

a:hover {
  color: var(--accent2);
}

.icon {
  width: 25vw;
  max-width: 35px;
  padding-right: 8px;
}
