header {
  /* background-color: var(--accent1); */
  color: var(--grey);
  width: 100%;
  margin: 0;
  padding: 0;
}

header h1 {
  color: var(--accent3);
}

.headline-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 2px;
}
