nav {
  width: 40%;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgba(239, 214, 206, 1) 0%,
    rgba(239, 214, 206, 1) 25%,
    rgba(162, 103, 105) 25%,
    rgba(162, 103, 105) 50%,
    rgba(115, 44, 44, 1) 50%,
    rgba(115, 44, 44, 1) 75%,
    rgba(50, 2, 22, 1) 75%,
    rgba(50, 2, 22, 1) 100%
  );
  color: black;
}

nav li {
  padding: 15px;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
  margin: 0;
}

/* Nav hover functions */

nav li:hover {
  font-size: 120%;
  cursor: pointer;
}

nav li:focus {
  font-size: 120%;
  cursor: pointer;
}
