:root {
  --accent1: rgb(239, 214, 206);
  --accent2: rgb(162, 103, 105);
  --accent3: rgb(115, 44, 44);
  --dark: rgb(50, 2, 22);
  --grey: rgb(35, 32, 32);
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 185%;
}

h4 {
  font-size: 150%;
  margin: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
  background-image: linear-gradient(
    to right,
    rgba(239, 214, 206, 1) 0%,
    rgba(162, 103, 105) 35%,
    rgba(115, 44, 44, 1) 70%,
    rgba(50, 2, 22, 1) 100%
  );
  border-radius: 5px;
}

nav li {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#nav-about a {
  color: var(--accent3);
  text-decoration: none;
  transition: 0.5s;
}

#nav-work a {
  color: var(--dark);
  text-decoration: none;
  transition: 0.5s;
}

#nav-contact a {
  color: var(--accent1);
  text-decoration: none;
  transition: 0.5s;
}

/* Nav hover functions */

#nav-about a:hover,
#nav-work a:hover,
#nav-contact a:hover {
  font-size: 120%;
}

#nav-about a:focus,
#nav-work a:focus,
#nav-contact a:focus {
  font-size: 120%;
}
